body {
    overflow: hidden;
}

/* #region colors */
:root {
    --ln-sidebar: #051f35;
}

/* #endregion colors */

/* #region header */

nav {
    height: 70px;
}

/* #endregion header */

/* #region main */

/* #sidebar */

#sidebar {
    width: 68px;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--ln-sidebar);
}

#sidebar .container {
    height: 100%;
}

/* #main_page */

#main_page {
    height: calc(100vh - 70px);
    overflow: auto;
    width: 100%;
}

/* #endregion main */

/* #region media querries */


@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

    #sidebar {
        width: 150px;
    }

}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

/* #region debug */

.debug #sidebar {
    height: calc(100vh - 70px);
    background-color: lightcoral;
}

.debug #next_class {
    height: 520px;
    background-color: lightgreen;
}

.debug #faq {
    height: 250px;
    background-color: lightgoldenrodyellow;
}

.debug #todo {
    height: 200px;
    background-color: lightpink;
}

.debug #graphic {
    height: 650px;
    background-color: lightseagreen;
}

/* #endregion debug */