body{
    overflow: hidden;
}

/* #region header */

nav{
    height: 70px;
}

/* #endregion header */

/* #region main */

/* #sidebar */

#sidebar{
    width: 68px;
}

#main_page{
    height: calc(100vh - 70px);
    overflow: auto;
}

/* #top */
#top{
    width: calc(100vw - 68px);
}

/* #endregion main */

/* #region media querries */


@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

    #sidebar{
        width: 150px;
    }

    #top{
        width: calc(100vw - 150px);
    }
    
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

/* #region debug */
.debug #sidebar{
    height: calc(100vh - 70px);
    background-color: lightcoral;
}
/* #endregion debug */